@use "../sass-utils/all";

.btn {
  background-color: var(--bright-red);
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  box-shadow: 0px 7px 16px #fec7be;
  font-weight: var(--font-weight-bold);
  font-size: 13.5px;
  transition: all 350ms;
  
  &:hover {
    background-color: lighten(hsl(12, 88%, 59%), 9%);
  }
  
  &--white {
    background-color: #fff;
    color: var(--bright-red);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    
    &:hover {
      background-color: #fff;
      color: lighten(hsl(12, 88%, 59%), 20%);
    }
  }
}
