.list-index {
    background-color: var(--bright-red);
    color: #fff;
    padding: 8px 23px;
    border-radius: 30px;
    margin-right: 1.5rem;

    font-weight: var(--font-weight-bold);
    font-size: 17px;
}