.hero {
  display: flex;

  &__content {
    flex-basis: 55%;

    display: flex;
    flex-direction: column;
    place-content: center;
  }

  &__image {
    flex-basis: 45%;
  }

  & .button-container {
    justify-content: start;
  }
}
