@use '../sass-utils/all' as *;

.layout {
  display: grid;
  grid-template-columns: var(--padding-layout-mobile) 1fr var(--padding-layout-mobile);
  grid-template-rows: 10rem 1fr auto;
  row-gap: 5rem;
  grid-template-areas:
    '. header   .'
    '. content  .'
    '. footer   .';

  @include query(md) {
    grid-template-columns: var(--padding-layout-tablet) 1fr var(--padding-layout-tablet);
  }
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
